<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>WebApp00</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- MainPage로 이동하기 위해 mainSendController호출 -->	
	<servlet>
		<servlet-name>MainPage</servlet-name>
		<servlet-class>com.test.ctrl.MainSendController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MainPage</servlet-name>
		<url-pattern>/store</url-pattern>
	</servlet-mapping>

	<!-- 해당 가게 페이지로 이동 -->
	<servlet>
		<servlet-name>StoreReview</servlet-name>
		<servlet-class>com.test.ctrl.StoreSendController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>StoreReview</servlet-name>
		<url-pattern>/storepage</url-pattern>
	</servlet-mapping>
	
	<!-- 리뷰 입력 후 해당페이지로 이동  -->
	<servlet>
		<servlet-name>ReceiveController</servlet-name>
		<servlet-class>com.test.ctrl.ReviewReceiveController</servlet-class>
	</servlet>
	   
	<servlet-mapping>
		<servlet-name>ReceiveController</servlet-name>
		<url-pattern>/reviewreceive</url-pattern>
	</servlet-mapping>
	
	<!-- 페이징 -->
	<servlet>
		<servlet-name>StorePage</servlet-name>
		<servlet-class>com.test.ctrl.StoreSendController</servlet-class>
	</servlet>
	   
	<servlet-mapping>
		<servlet-name>StorePage</servlet-name>
		<url-pattern>/pagenum</url-pattern>
	</servlet-mapping>
	
	<!-- 리뷰 삭제 후 해당페이지로 이동  -->
	<servlet>
		<servlet-name>DeleteController</servlet-name>
		<servlet-class>com.test.ctrl.ReviewDeleteController</servlet-class>
	</servlet>
	   
	<servlet-mapping>
		<servlet-name>DeleteController</servlet-name>
		<url-pattern>/reviewDelete</url-pattern>
	</servlet-mapping>

</web-app>